{% extends 'base.html' %}
{% load static %}

{% block title %}
    Events
{% endblock title %}

{% block stylesheets %}
   {{ block.super }}
        <link href="{% static 'events/css/events.css' %}" rel="stylesheet"
      type="text/css"
    />
{% endblock stylesheets %}

{% block content %}
    <section id="contact">
        <div class="container">
          <div class="row">
            {% include 'sidebar.html' %}
            <div class="col-8">
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-prince" role="tabpanel" aria-labelledby="list-prince-list">
                  <div class="event-list">
                    <div class="container p-0 text-center">
                      <ul class="flex-container d-flex flex-row flex-wrap justify-content-center p-0">
                        <li class="col-sm-12 col-md-12 col-lg-12 p-0">
                          <div class="flex-item d-flex flex-row flex-wrap unit-bg rounded custom-padding border-white-2">
                            <div class="date-outer col-sm-12 col-md-2 col-lg-2 m-0 date-outer-padding">
                              <div class="date-container border-white-1 itixy-color">
                                <time datetime="2019-07-08">
                                  <span class="day-week-container font-l font-bold">Monday</span><br>
                                  <span class="day-month-container font-l font-bold">08/07</span><br>
                                  <span class="year-container font-s font-bold">2019</span>
                                </time>
                                <hr>
                                <time datetime="2018-07-08T20:00:00">
                                  <span class="time-container font-m font-bold">20:00</span>
                                </time>
                              </div>
                            </div>
                            <figure class="col-sm-12 col-md-4 col-lg-3 m-0 figure-padding">
                              <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/8-col/img%20(85).jpg" data-size="1600x1067"><img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/8-col/img%20(85).jpg" alt="" class="img-fluid border-white-1"></a>
                            </figure>
                            <div class="info col-sm-12 col-md-6 col-lg-7 text-center p-0">
                              <h2 class="font-l font-bold">Event title 1</h2>
                              <p class="font-m">Event description 1</p>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="list-wild" role="tabpanel" aria-labelledby="list-wild-list">
                    <div class="event-list">
                    <div class="container p-0 text-center">
                      <ul class="flex-container d-flex flex-row flex-wrap justify-content-center p-0">
                        <li class="col-sm-12 col-md-12 col-lg-12 p-0">
                          <div class="flex-item d-flex flex-row flex-wrap unit-bg rounded custom-padding border-white-2">
                            <div class="date-outer col-sm-12 col-md-2 col-lg-2 m-0 date-outer-padding">
                              <div class="date-container border-white-1 itixy-color">
                                <time datetime="2019-07-08">
                                  <span class="day-week-container font-l font-bold">Monday</span><br>
                                  <span class="day-month-container font-l font-bold">08/07</span><br>
                                  <span class="year-container font-s font-bold">2019</span>
                                </time>
                                <hr>
                                <time datetime="2018-07-08T20:00:00">
                                  <span class="time-container font-m font-bold">20:00</span>
                                </time>
                              </div>
                            </div>
                            <figure class="col-sm-12 col-md-4 col-lg-3 m-0 figure-padding">
                              <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/8-col/img%20(85).jpg" data-size="1600x1067"><img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/8-col/img%20(85).jpg" alt="" class="img-fluid border-white-1"></a>
                            </figure>
                            <div class="info col-sm-12 col-md-6 col-lg-7 text-center p-0">
                              <h2 class="font-l font-bold">Event title 1</h2>
                              <p class="font-m">Event description 1</p>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
{% endblock content %}

{% block scripts %}
   {{ block.super }}
        <script src="{% static 'events/js/events.js' %}"></script>

{% endblock scripts %}