{% extends 'base.html' %}
{% load static %}

{% block title %}
    Contact Us
{% endblock title %}

{% block stylesheets %}
   {{ block.super }}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Kaushan+Script"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700"
      rel="stylesheet"
      type="text/css"
    />

    <link href="{% static 'contact/css/contact.css' %}" rel="stylesheet"
      type="text/css"
    />

{% endblock stylesheets %}

{% block content %}

    <!-- Contact -->
    <section id="contact" style="
            background-color: #212529;
            background-image: url({% static 'contact/img/map-image.png' %});
            background-repeat: no-repeat;
            background-position: center;
            ">
      <div class="container">

          <!-- Alert Message -->
        <div class="row">
            <div class="col-md-12">
             <!-- Messages -->
              {% if messages %}
                {% for message in messages %}
                  <div class="text-center alert
                       {% if message.level_tag == 'error' %}
                       alert-danger
                       {% else %}
                       alert-{{ message.tags }}
                       {% endif %}">

                    {{ message }}
                  </div>
                {% endfor %}
              {% endif %}
            </div>
          </div>

      <!-- Contact Form -->
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Contact Us</h2>
            <h3 class="section-subheading text-muted">
              Get in touch with us
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <form action="{% url 'contact:contact' %}" method="post"
                  id="contactForm" name="sentMessage" novalidate="novalidate">
                {% csrf_token %}
              <div class="row">
                <div class="col-md-6" style="margin-top: 30px!important;">
                  <div class="form-group">
                   <h6>{{ contact_form.subject.errors }}</h6>
                   {{ contact_form.subject }}
                  </div>
                  <div class="form-group">
                    <h6>{{ contact_form.sender_email.errors }}</h6>
                    {{ contact_form.sender_email }}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <h6>{{ contact_form.message.errors }}</h6>
                    {{ contact_form.message }}
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-12 text-center">
                  <div id="success"></div>
                  <button
                    id="sendMessageButton"
                    class="btn btn-primary btn-xl text-uppercase"
                    type="submit"
                  >
                    Send Message
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <br /><br /><br /><br />

{#      <!-- Social Icons -->#}
{#      <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-lg-12 text-center">#}
{#            <h4 class="section-heading text-uppercase">Follow Us</h4>#}
{#            </div>#}
{#          <br />#}
{#          <div class="clearfix"></div>#}
{#          <div class="col-lg-12 text-center">#}
{#            <ul class="social-network social-circle">#}
{#              <li>#}
{#                <a href="#" class="icoRss" title="Rss"#}
{#                  ><i class="fa fa-rss"></i#}
{#                ></a>#}
{#              </li>#}
{#              <li>#}
{#                <a href="#" class="icoFacebook" title="Facebook"#}
{#                  ><i class="fa fa-facebook"></i#}
{#                ></a>#}
{#              </li>#}
{#              <li>#}
{#                <a href="#" class="icoTwitter" title="Twitter"#}
{#                  ><i class="fa fa-twitter"></i#}
{#                ></a>#}
{#              </li>#}
{#              <li>#}
{#                <a href="#" class="icoGoogle" title="Google +"#}
{#                  ><i class="fa fa-google-plus"></i#}
{#                ></a>#}
{#              </li>#}
{#              <li>#}
{#                <a href="#" class="icoLinkedin" title="Linkedin"#}
{#                  ><i class="fa fa-linkedin"></i#}
{#                ></a>#}
{#              </li>#}
{#            </ul>#}
{#          </div>#}
{#          </div>#}
{#        </div>#}
{#      #}
{#    <br /><br>#}

    <!-- Contact Details -->
      <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
            <h4 class="section-heading text-uppercase">Get in Touch</h4>
            </div>
          <br />
          <div class="clearfix"></div>
            <div class="col-sm-4">
					<div class="contact-detail">
						<i class="fa fa-phone"></i>
						<h3>Phone</h3>
						<p>(+233) 027 920 3283</p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="contact-detail">
						<i class="fa fa-envelope"></i>
						<h3>Email</h3>
						<p>ghana@pyladies.com</p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="contact-detail">
						<i class="fa fa-map-marker"></i>
						<h3>Address</h3>
						<p>Ghana</p>
					</div>
                </div>
          </div>
          </div>

    </section>

{% endblock content %}

{% block scripts %}
    {{ block.super }}

    <!-- Contact form JavaScript -->
    <script src="{% static 'contact/js/jqBootstrapValidation.js' %}"></script>


{% endblock scripts %}
